  .relative-container {
    position: relative;
    height: 600px;
  }
  
  .relative-container img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 550px;
    border-radius: 10px;
  }

  .overlay-background {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    height: 550px;
    border-radius: 10px;
  }
  
  .content-container {
    padding: 4rem 1rem;
    margin: 0 auto;
    max-width: 100%;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1%;
  }
  
  .text-content h3 {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 1.2;
  }
   
  .button1 {
    margin-top: 9%;
    display: inline-block;
    padding: 14px 46px 12px;
    border: 2px solid white;
    border-radius: 9999px;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    transition: all 0.15s ease-in-out;
  }
  

  .button1:hover,
  .button1:focus {
    border-color: #eee; 
    background-color: #555; 
    color: #fff; 
    outline: none;
  }


  .custom1-container {
    width: 95%;
    height: 500px;
    padding: 1px;
    position: relative;
  }
  
  .custom1-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    height: 500px;
    padding: 1px;
    transition: transform 0.3s;
  }
  
  .custom1-card:hover {
    transform: scale(1.07);
    
  }
  
  .custom1-img {
    display: block;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transition: opacity 0.2s;
  }
  
  .custom1-overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    
  }
  
  .custom1-text {
    position: relative;
    margin-left: 1rem;
    margin-bottom: 0.75rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fefffe; 
  }
  
  @media (min-width: 768px) {
    .custom1-container {
      padding: 2px;
    }
  
    .custom1-card {
      padding: 2px;
    }
  
    .custom1-text {
      margin-left: 1.25rem;
      font-size: 1.25rem;
    }
  }
