footer{
    width: 100%;
    border-top: 1px solid #e9e9e9;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.footer-container{
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-company-box,
.footer-subscribe{
    max-width: 330px;
}
.footer-company-box .footer-logo{
    color: black;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 900;
}
.footer-company-box p,
.footer-subscribe p{
    color: #585858;
    margin: 5px 0px;
    line-height: 1.6rem;
    font-size: 1rem;
}
.footer-link-box strong,
.footer-subscribe strong{
    font-size: 1.2rem;
    color: #333333;
    font-weight: 600;
}
.footer-link-box ul{
    margin-top: 5px;
}
.footer-container ul li a{
    color: #797979;
    display: flex;
    margin-bottom: 5px;
    transition: all ease 0.3s;
    font-weight: 500;
}
.footer-container ul li a:hover{
    color: #0f0f0f;
}
.subscribe-box{
    width: 100%;
    border: 1px solid #dadada;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
}
.subscribe-box input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px 15px;
}
.subscribe-box button{
    border: none;
    outline:none;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    height: 40px;
    padding: 0px 20px;
    cursor: pointer;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    border-top: 1px solid #e9e9e9;
    padding: 20px 0px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.footer-bottom span{
    color: #252525;
    font-size: 0.9rem;
}



@media(max-width:1200px){
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}

@media(max-width:620px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}