.navbar {
    background-color: #fff;
    height: 60px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #be0013;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #be0013;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    font-weight: 500;
}

.login-button:hover {
    background-color: #be0013;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #be0013;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.btn-icon{
    margin-bottom: 3%;
}

.form-group{
    display: flex;
    justify-content: center;
    }



.form-group input{
    
    height: 35px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 15px;
}
